@page
@model weblego.Pages.BuildModeModel
@{
    Layout = "/Pages/Shared/_LayoutAd.cshtml";
    var danhsachhdcanduyet = DanSachHoaDon.danhsachHD;
    var danhsachtk = DanSachHoaDon.danhsachTK;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/buildmode.css" rel="stylesheet">

</head>
<body>
    <a class="btn btn-secondary" href="/Index">Về index</a>
    <div class="container- div-sanpham">
        <form method="post">
            <div class="row align-items-center">
            
            <div class="col-sm-6">
                <label for="inputmasp" class="form-label" id="lb">Mã Sản phẩm</label>
                <input type="text" class="form-control" id="inputmasp" name="inputmasp">
            </div>
            <div class="col-sm-6">
                <label for="inputtensp" class="form-label" id="lb">Tên Sản phẩm</label>
                <input type="text" class="form-control" id="inputtensp" name="inputtensp">
            </div>
            <div class="col-sm-3">
                <label for="inputchude" class="form-label" id="lb">Chủ đề</label>
                <input type="text" class="form-control" id="inputchude" name="inputchude">
            </div>
            <div class="col-sm-3">
                <label for="inputtuoi" class="form-label" id="lb">Độ tuổi</label>
                <input type="number" class="form-control" id="inputtuoi" name="inputtuoi">
            </div>

            <div class="col-sm-3">
                <label for="inputtonkho" class="form-label" id="lb">Tồn kho</label>
                <input type="number" class="form-control" id="inputtonkho" name="inputtonkho">
            </div>
            <div class="col-sm-3">
                <label for="inputgiatien" class="form-label" id="lb">Giá tiền</label>
                <input type="number" class="form-control" id="inputgiatien" name="inputgiatien">
            </div>
            <div class="col-sm-12">
                <label for="inputimg" class="form-label" id="lb">Hình ảnh</label>
                <input type="text" class="form-control" id="inputimg" name="inputimg">
            </div>
            
            <div class="col-sm-6" align="center">
                    <button type="submit" class="btn btn-success" asp-page-handler="Update">Tạo/Sửa</button>
            </div>
                <div class="col-sm-6" align="center">
                    <button type="submit" class="btn btn-danger" asp-page-handler="Delete">Xóa</button>
                </div>
        </div>

        </form>
    </div>

    <div class="container- div-sanpham">
        <form method="post">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <label for="inputmand" class="form-label" id="lb">Mã người dùng</label>
                    <input type="text" class="form-control" id="inputmand" name="inputmand">
                </div>
                <div class="col-sm-6">
                    <label for="inputtennd" class="form-label" id="lb">Tên người dùng</label>
                    <input type="text" class="form-control" id="inputtennd" name="inputtennd">
                </div>
                <div class="col-sm-6">
                    <label for="inputdiachi" class="form-label" id="lb">Địa chỉ</label>
                    <input type="text" class="form-control" id="inputdiachi" name="inputdiachi">
                </div>
                <div class="col-sm-6">
                    <label for="inputsdt" class="form-label" id="lb">Số điện thoại</label>
                    <input type="text" class="form-control" id="inputsdt" name="inputsdt">
                </div>
                <div class="col-sm-6">
                    <label for="inputtaikhoan" class="form-label" id="lb">Tài khoản</label>
                    <input type="text" class="form-control" id="inputtaikhoan" name="inputtaikhoan">
                </div>
                <div class="col-sm-6">
                    <label for="inputmatkhau" class="form-label" id="lb">Mật khẩu</label>
                    <input type="text" class="form-control" id="inputmatkhau" name="inputmatkhau">
                </div>
                <div class="col-sm-6" align="center">
                    <button type="submit" class="btn btn-success" asp-page-handler="UpdateND">Tạo/Sửa</button>
                </div>
                <div class="col-sm-6" align="center">
                    <button type="submit" class="btn btn-danger" asp-page-handler="DeleteND">Xóa</button>
                </div>
            </div>

        </form>
    </div>
    <div class="container- div-sanpham">
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">MaHD</th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Phương thức thanh toán</th>
                        <th scope="col">Tình Trạng</th>
                        <th scope="col">Quyết định</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var i in danhsachhdcanduyet)
                    {
                        <tr>
                            <td>@i.MaHD</td>
                            <td>@i.NgayDatHang</td>
                            <td>@i.PhuongThucThanhToan</td>
                            <td>CHƯA DUYỆT</td>
                            <td><button type="submit" class="btn btn-success" name="btnduyet" value="@i.MaHD" asp-page-handler="Duyet">Duyệt</button></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </form>
        
    </div>
    <div class="container- div-sanpham">
        <form method="post">
            <div class="container-">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="date" name="dateSearch">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-secondary" asp-page-handler="ThongKe">Tìm</button>
                    </div>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">MaHD</th>
                    <th scope="col">MaND</th>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Phương thức thanh toán</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in danhsachtk)
                {
                    <tr>
                        <td>@i.MaHD</td>
                        <td>@i.MaND</td>
                        <td>@i.NgayDatHang</td>
                        <td>@i.DiaChi</td>
                        <td>@i.PhuongThucThanhToan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
